* {
    margin: 0;
    padding: 0;
}

body {
    width: 1600px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header--top,
.header--left,
.header--right,
.button-browse {
    display: flex;
}

.header--top {
    width: 1140px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header--left {
    align-items: center;
}

.header--logo__text {
    height: 100%;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    color: #222;
    margin-left: 15px;
}

.logo--text__color {
    color: #f16d7f;
    font-size: 27px;
    font-weight: 900;
    text-transform: uppercase;
}

.button-browse {
    width: 87px;
    height: 38px;
}

.button-browse:hover .menu--search {
    display: block;
    margin-top: 2px;

}

.menu--search--button {
    width: 87px;
    height: 38px;
    font-size: 14px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    cursor: pointer;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
}

.menu--search--text {
    width: 280px;
    height: 38px;
    box-sizing: border-box;
    border: 0.1px solid #e6e6e6;
    border-right: none;
}

.fa-caret-down {
    margin-left: 5px;
}

.form--search {
    display: flex;
    margin-left: 35px;
}

.menu--search {
    position: absolute;
    display: none;
    width: 262px;
    top: 69px;
    height: 530px;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.315);
}

.menu--search__list {
    background-color: #fff;
}

.menu--search__list:hover {
    background-color: rgb(243, 243, 243);

}

.menu--search__link {
    display: block;
    margin: 0 10px 0 10px;
    padding: 6px 15px 6px 15px;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 400;
}

.menu--search__link-color {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #232323;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.btn--search {
    width: 40px;
    background-color: #fff;
    border: .1px solid #e6e6e6;
    cursor: pointer;
}

.btn--search:hover {
    background-color: rgb(233, 231, 231);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.315);
}

.fa-caret-up {
    margin-left: 65px;
    color: #e6e6e6;
}

.header--cart {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.cart--menu {
    display: none;
    padding: 0 17px 21px 17px;
    width: 262px;
    background-color: #fff;
}

.header--right-menu {
    position: relative;
}

.header--right-menu:hover .cart--menu {
    display: block;
    position: absolute;
    left: -10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.315);
    margin-top: 2px;
}

.header--right-menu:hover .header--cart {
    background-color: rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.144);
    transition: all 0.2s;
}

.cart--menu--img {
    width: 72px;
    margin-right: 15px;
}

.cart--menu--list-item {
    display: flex;
    height: 100px;
    border-bottom: 1px solid rgba(237, 237, 237, 0.74);
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.cart--menu--text-item {
    margin-right: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart--menu--item__link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.cart--menu__stars {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #e4af48;
}

.fa-times-circle {
    color: #222;
}

.cart--menu--item__price {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #f16d7f;
}

.cart--menu--total-price {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 10px;
}

.cart--menu--checkout {
    margin-top: 32px;
    width: 225px;
    height: 50px;
    border: 1.0px solid #f16d7f;
    margin: 32px auto 10px;
}

.cart--menu--img:hover,
.cart--menu--checkout:hover,
.cart--menu--go-cart:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.144);
    transition: all 0.5s;
    transform: scale(1.03);

}

.fa-times-circle:hover {
    color: red;
    transition: all 0.2s;
}

.cart--menu--checkout--link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.cart--menu--go-cart {
    margin-top: 11px;
    width: 225px;
    height: 50px;
    border: 1.0px solid #eaeaea;
    margin: 0 auto;
}

.cart--menu--go-cart--link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
}

.account--menu-btn {
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account--menu__list__all {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
}

.account--menu__list__drop {
    display: none;
}

.account--menu__list__drop {
    box-shadow: 0 0 5px 1px #f16d7f
}

.account--menu:hover .account--menu__list__drop {
    margin-top: 2px;
    display: block;
    background-color: #fff;
}

.account--menu:hover .account--menu-btn {
    box-shadow: 0 0 5px 1px #f16d7f;
    transition: all 0.3s;
}

.account--menu__link {
    display: block;
    color: #222;
    padding: 10px;
}

.account--menu__link:hover {
    background-color: rgba(236, 235, 235, 0.616);
}

/* NAV */
.nav {
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.1px solid #e6e6e6;
}

.nav--menu {
    width: 690px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--menu--link {
    font-size: 14px;
    display: block;
    padding: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.nav--menu--link:hover {
    background-color: rgba(0, 0, 0, 0.082);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.144);
    transition: all 0.1s;
    transform: scale(1.05);
}

/* SEC PROMO */
.brand-promo {
    height: 613px;
    background-color: #e8e8e8;

}

.brand-promo--container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1140px;
}

.brand-promo--content {
    height: 100%;
    background-image: url(img/sec1-background.jpg);
    background-position: 0 -51px;
}

.brand-promo--text {
    border-left: 12px solid #f16d7f;
    padding-left: 20px;
    margin-top: -51px;
}

.brand-promo--text__big {
    font-size: 60px;
    font-weight: 900;
    color: #222222;
    line-height: 40px;
}

.brand-promo--text__small {
    margin-top: 15px;
    font-size: 40px;
    font-weight: 900;
    line-height: 30px;
}

.brand-promo--text__smal_pink {
    color: #f16d7f;
}


/* SEC DIALS */

.dials {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dials--container {
    height: 825px;
    width: 1145px;
    display: flex;
    justify-content: space-between;
}

.deals--left,
.dials--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dial--one,
.deal--two,
.dial--three,
.deal--four {
    position: relative;

}

.dial--one:hover,
.deal--two:hover,
.dial--three:hover,
.deal--four:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.315);
}

.dial--one {
    background-image: url(img/Deals-1.jpg);
    width: 560px;
    height: 542px;
}

.deal--two {
    background-image: url(img/Deals-2.jpg);
    background-repeat: no-repeat;
    background-position: 149px 0;
    width: 560px;
    height: 261px;
    background-color: #dadad2;
}

.dial--three {
    background-image: url(img/Deals-3.jpg);
    width: 560px;
    height: 261px;
}

.deal--four {
    background-image: url(img/Deals-4.jpg);
    width: 560px;
    height: 542px;
}

.dial--link {
    display: block;
    width: 100%;
    height: 100%;

}

.dial--bange {
    background-color: #ffffff;
    padding: 10px;
    display: block;
    width: max-content;
    position: absolute;
    top: 26px;
}

.deal--bange__deal {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.deal--bange__name {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

/* SEC FETURED */
.fetured {
    margin: 0 auto;
}

.fetured--text {
    margin: 0 auto;
    text-align: center;
}

.fetured--banner {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
}

.fetured--banner-text {
    font-size: 14px;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
}

.fetured--items {
    margin: 0 auto;
    width: 1140px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.fetured--item {
    margin: 10px;
    width: 261px;
    height: 371px;
    background-color: #ffffff;
}

.fetured--item:hover .fetured--item-hover {
    opacity: 1;
    transition: all 0.5s;
}

.fetured--item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.5s;
}

.fetured--item-img {
    position: relative;
    background-repeat: no-repeat;
}

.fetured--item-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 56, 56, 0.83);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fetured--item--cart {
    margin-top: -50px;
    width: 123px;
    height: 39px;
    border: 1.0px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.fetured--item--cart:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 5px 0 #fff;
    transition: all 0.5s;
}

.fetured--item--desc {
    padding: 19px;
}

.fetured--item--name {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}

.fetured--item-text {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.fetured--item--price {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.fetured--item--star {
    font-size: 15px;
    font-weight: 400;
    color: #e4af48;
}

.fetured--browse-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
}

.fetured--browse-btn {
    padding: 15px;
    background-color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.fetured--browse-btn:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 8px 1px #f16d7f;
    transition: all 0.3s;
}

/* SEC OFFER */

.offer--container {
    width: 1140px;
    height: 529px;
    margin: 0 auto;
    background-color: #222224;
}

.offer--discount {
    background-image: url(img/offer-bg.jpg);
    width: 767px;
    height: 529px;
    background-repeat: no-repeat;
    position: relative;
    opacity: 1;
}

.discount--link {
    display: block;
    width: 100%;
    height: 100%;
}
.discount--link__layer{
    width: 767px;
    height: 529px;
    opacity: 0.3;
    position: absolute;
    top: 0px;
}

.discount--bange {
    display: block;
    width: max-content;
    position: absolute;
    top: 146px;
    left: 39px;
}

.discount--bange__deal {
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-transform: uppercase;
}

.discount--bange__name {
    font-size: 32.2px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-transform: uppercase;
}

.discount--bange__deal-last {
    font-size: 53.7;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    text-transform: uppercase;
}