* {
    margin: 0;
    padding: 0;
}

body {
    width: 1600px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header--top,
.header--left,
.header--right,
.button-browse {
    display: flex;
}

.header--top {
    width: 1150px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header--left {
    align-items: center;
}

.header--logo__text {
    height: 100%;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    color: #222;
    margin-left: 15px;
}

.logo--text__color {
    color: #f16d7f;
    font-size: 27px;
    font-weight: 900;
    text-transform: uppercase;
}


.button-browse {
    width: 87px;
    height: 38px;
}

.menu--search--button {
    width: 87px;
    height: 38px;
    font-size: 14px;
    border: none;
    border-right: none;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #222;
}

.menu--search--text {
    height: 38px;
    box-sizing: border-box;
    border: 0.1px solid #ccc;
    border-right: none;
}

.fa-caret-down {
    margin-left: 5px;
}

.button-browse:hover>ul {
    display: block;
}

.form--search {
    display: flex;
    margin-left: 35px;
}

.menu--search {
    position: absolute;
    display: none;
    width: 262px;
    top: 69px;
    height: 530px;
    border-radius: 5px;
}

.menu--search__list {
    background-color: #fff;
}

.menu--search__list:hover {
    background-color: rgb(243, 243, 243);
}

.menu--search__link {
    display: block;
    margin: 0 10px 0 10px;
    padding: 6px 15px 6px 15px;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 400;
}

.menu--search__link-color {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #232323;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.btn--search {
    width: 40px;
    background-color: #fff;
    border: .1px solid #ccc;
    border-left: none;
}

.fa-caret-up {
    margin-left: 65px;
    color: #ccc;
}

.header--cart {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: transparent;
    border-color: transparent;
}


.account--menu__list__all {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;

}

.account--menu__list__all>a {
    width: 100%;
    height: 100%;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}