* {
    margin: 0;
    padding: 0;
}

body {
    width: 1600px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header--top,
.header--left,
.header--right,
.button-browse {
    display: flex;
}

.header--top {
    width: 1150px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 35px;
}

.header--left {
    align-items: center;
}

.header--logo__text {
    height: 100%;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    color: #222;
    margin-left: 15px;
}

.logo--text__color {
    color: #f16d7f;
    font-size: 27px;
    font-weight: 900;
    text-transform: uppercase;
}

.button-browse {
    width: 87px;
    height: 38px;

}

.menu--search--button {
    width: 87px;
    height: 38px;
    font-size: 14px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    cursor: pointer;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
}

.menu--search--text {
    width: 280px;
    height: 38px;
    box-sizing: border-box;
    border: 0.1px solid #e6e6e6;
    border-right: none;
}

.fa-caret-down {
    margin-left: 5px;
}

.button-browse:hover>ul {
    display: block;
    top: 100px;
}

.form--search {
    display: flex;
    margin-left: 35px;
}

.menu--search {
    position: absolute;
    display: none;
    width: 262px;
    top: 69px;
    height: 530px;
    border-radius: 5px;
}

.menu--search__list {
    background-color: #fff;
}

.menu--search__list:hover {
    background-color: rgb(243, 243, 243);
}

.menu--search__link {
    display: block;
    margin: 0 10px 0 10px;
    padding: 6px 15px 6px 15px;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 400;
}

.menu--search__link-color {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #232323;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.btn--search {
    width: 40px;
    background-color: #fff;
    border: .1px solid #e6e6e6;
    cursor: pointer;
}

.btn--search:hover {
    background-color: rgb(233, 231, 231);
}

.fa-caret-up {
    margin-left: 65px;
    color: #e6e6e6;
}

.header--cart {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.cart--menu {
    display: none;
    padding: 0 17px 21px 17px;
    width: 262px;
    background-color: #fff;
}

.header--right-menu {
    position: relative;
}

.header--right-menu:hover .cart--menu {
    display: block;
    position: absolute;
    left: -10px;
}

.cart--menu--img {
    width: 72px;
    height: 75px;
    margin-right: 15px;
}

.cart--menu--list-item {
    display: flex;
    height: 100px;
    border-bottom: 1px solid rgba(237, 237, 237, 0.74);
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.cart--menu--text-item {
    margin-right: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart--menu--item__link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.cart--menu__stars {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #e4af48;
}

.fa-times-circle {
    color: #222;
}

.cart--menu--item__price {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #f16d7f;
}

.cart--menu--total-price {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 10px;
}

.cart--menu--checkout {
    margin-top: 32px;
    width: 225px;
    height: 50px;
    border: 1.0px solid #f16d7f;
    margin: 32px auto 10px;
}

.cart--menu--checkout--link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.cart--menu--go-cart {
    margin-top: 11px;
    width: 225px;
    height: 50px;
    border: 1.0px solid #f16d7f;
    margin: 0 auto;
}

.cart--menu--go-cart--link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
}

.account--menu-btn {
    color: #fff;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account--menu__list__all {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
}

.account--menu__list {
    display: none;
}

.account--menu:hover .account--menu__list {
    display: block;
}

.account--menu__link {
    color: #222;
}

.account--menu__link:hover {
    background-color: rgb(236, 235, 235);
}

/* NAV */
.nav {
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.1px solid #e6e6e6;
}

.nav--menu {
    width: 690px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--menu--link {
    font-size: 14px;
    display: block;
    padding: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

/* SEC PROMO */
.brand-promo {
    height: 613px;
    background-color: #e8e8e8;

}

.brand-promo--container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1140px;
}

.brand-promo--content {
    height: 100%;
    background-image: url(img/sec1-background.jpg);
    background-position: 0 -51px;
}

.brand-promo--text {
    border-left: 12px solid #f16d7f;
    padding-left: 20px;
    margin-top: -51px;
}

.brand-promo--text__big {
    font-size: 60px;
    font-weight: 900;
    color: #222222;
    line-height: 40px;
}

.brand-promo--text__small {
    margin-top: 15px;
    font-size: 40px;
    font-weight: 900;
    line-height: 30px;
}

.brand-promo--text__smal_pink {
    color: #f16d7f;
}


/* SEC DIALS */

.dials {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dials--container {
    height: 825px;
    width: 1145px;
    display: flex;
    justify-content: space-between;
}

.deals--left,
.dials--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dial--one {
    background-image: url(img/Deals-1.jpg);
    width: 560px;
    height: 542px;
}

.deal--two {
    background-image: url(img/Deals-2.jpg);
    background-repeat: no-repeat;
    background-position: 149px 0;
    width: 560px;
    height: 261px;
    background-color: #dadad2;
}

.dial--three {
    background-image: url(img/Deals-3.jpg);
    width: 560px;
    height: 261px;
}

.deal--four {
    background-image: url(img/Deals-4.jpg);
    width: 560px;
    height: 542px;
}

.dial--bange {
    background-color: #ffffff;
}


/* SEC FETURED */
.fetured{
    margin: 0 auto;
}

.fetured--text {
    margin: 0 auto;
    text-align: center;
}

.fetured--items {
    margin: 0 auto;
    width: 1150px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.fetured--item {
    margin: 10px;
    /* box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15); */
    border: 1px solid #000;
    width: 261px;
    height: 371px;
    background-color: #ffffff;
}
.fetured--item-hover {
}
.fetured--item-img { 
    background-repeat: no-repeat;
}
.fetured--item--desc {
    width: 265px;
    height: 85px;
}
  
.fetured--item--name {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}

.fetured--item-text {
}
.fetured--item--price {
}
.fetured--item--star {
}

